<home activeId="publicshare" [isOrphan]="true">
<ng-template #togglerContentTpl>
  <div isRoot  class="appconfig-list component-container">
    <h1 class="component-title" *ngIf="!isSingleSelect">审批并分享</h1>

    <form [formGroup]="formData" class="appconfig-list-form">

      <mat-form-field class="search-form-field" appearance="fill">
        <mat-label>请至少输入2个字来搜索待审批内容</mat-label>
        <input matInput type="text" [(ngModel)]="paginateArg.queryTxt" (keyup)="onSearchTxtChange($event)" [ngModelOptions]="{standalone: true}">
        <button *ngIf="paginateArg.queryTxt" matSuffix mat-icon-button aria-label="Clear" (click)="paginateArg.queryTxt=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="mat-elevation-z8 content-list" *ngIf="dataSourceSearch?.data?.length">
        <table mat-table #tableSearch [dataSource]="dataSourceSearch" matSort
          #sortSearch="matSort"
          (matSortChange)="changeSort($event)"
          matSortActive="updated" matSortDirection="desc"
          matSortDisableClear>
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [disabled]="row.disabled"
                            [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 标题 </th>
            <td mat-cell *matCellDef="let element" title="{{element.title}}"> {{element.title}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 名称 </th>
            <td mat-cell *matCellDef="let element" title="{{element.name}}"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 作者 </th>
            <td mat-cell *matCellDef="let element" title="{{element.name}}"> {{element.author}} </td>
          </ng-container>

          <!-- lastModified Column -->
          <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 修改时间 </th>
            <td mat-cell *matCellDef="let element" title="{{element.updated}}"> {{element.updated}} </td>
          </ng-container>

          <!--
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 操作</th>
            <td mat-cell *matCellDef="let element" title="preview">
              <button mat-raised-button color="accent" (click)="previewContents([element])" >{{ btnTxt }}</button>
            </td>
          </ng-container>
          -->

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSearch"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSearch;"
            [class.row-disabled]="row.disabled"
            ></tr>
        </table>
        <!--
          TODO: pagination for async
        -->
        <mat-paginator
          #paginator4Table
          [length]="paginateArg.total"
          [pageIndex]="paginateArg.page"
          [pageSize]="paginateArg.pagesize"
          [pageSizeOptions]="[5, 10, 20]"
          (page)="pageChange($event)"
          showFirstLastButtons></mat-paginator>
      </div>


    </form>

    <div class="page-action action-group" *ngIf="!isSingleSelect">
      <button mat-raised-button color="primary" (click)="previewItems(selection.selected)" *ngIf="selection.selected.length === 1" >预览并审批选中的内容</button>
      <!--
      <button mat-raised-button color="warn" (click)="rejectItems(selection.selected)" *ngIf="selection.selected.length" >拒绝选中的内容</button>
      <button mat-button mat-stroked-button routerLink="/" >返回</button>
      <button mat-button (click)="printEnv()">test</button>
      -->
    </div>
  </div>
</ng-template>
</home>
