.preview-weibo {

  .header-title {
    span {
      background: linear-gradient( 180deg, #57cde2, #c6c9d8);
      text-align: center;
    }

    .preview-column-left {
      width: 632px;

    }

    .preview-column-right {
      width: 402px;

    }
  }
}

